.form-error{
  color:red;
  font-size: .8rem;
  display:block;
}


.information{
  font-size:.7rem;
  width:250px;
  color:#543965;
  margin-bottom:-20px;
}


.input-label{
  font-weight: bold;
}

.password-field{
  display:flex;
  align-items: row;
}

input{
  border-width:1px;
  border-radius:0;
}

.password-field button{
  background-color:white;
  border: solid;
  border-width:1px;
  border-radius: 0;
  border-color:black;
}
